node_modules
.vscode
.editorconfig
.eslintignore
.eslintrc
package-lock.json
.DS_Store
._*
*~
############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3
.cache
database

############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Tests
############################

coverage

###############
# Deubugging
##############
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

############################
# Strapi
############################
.env
license.txt
exports
*.cache
dist
build
.strapi-updater.json

########################
# Production
########################
/build
config/env
frontend/public/uploads