.articlePage {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
}

.articlePage h1 {
    font-size: 40px;
    font-weight: 40;
    padding-bottom: 15px;
    color: #ffff;
}

.articlePage h2 {
    font-size: 24px;
    font-weight: 20;
    padding-bottom: 10px;
    color: #ffffff;
}

.articlePage h3 {
    font-size: 28px;
    font-weight: 20;
    padding-bottom: 10px;
    color: #929292;
}

.articlePage p {
    font-size: 24px;
    line-height: 1.5;
    color: #ffff;
    margin-bottom: 1em;
}

.articlePage img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}