.emailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: none;
    text-align: center;
    margin: 50px;
}

.enterEmailContainer {
    display: flex;
    justify-content: center;
    background-color: none;
    text-align: center;
    width: 100%;
    margin: 30px auto;
}

.emailTitle {
    color: #fff;
    margin-bottom: 15px;
}

.emailDescription {
    font-size: 28px;
    color: #fff;
    max-width: 40rem;
}

.emailInput {
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 8px 0px 0px 8px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #000000;
    background-color: #fff;
}

.emailButton {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .emailDescription {
        font-size: 18px;
        max-width: 20rem;
    }

    .emailInput {
        margin-bottom: 5px;
        font-size: 14px;
        width: max-content;
    }
    
    .emailButton {
        font-size: 14px;
        margin-bottom: 5px;
    }

}