.body {
	width: 100vw;
	height: 100vh;
	background: #fefefe;
	color: #373737;
	margin: 0;
	padding: 0;
	background: linear-gradient(132deg, #064289, #0000);
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr="#543093",
			endColorstr="#d960ae",
			GradientType=1
		);
}

.container {
	width: 600px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin: 0;
	position: absolute;
	background: #fefefe;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding-bottom:30px;
	box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
}

.bottom {
	text-align: center;
	margin-top: 0em;
	max-width: 70%;
	position: relative;
	margin: 0 auto;
}
.bottom h2 {
	font-family: "Rokkitt", sans-serif;
	letter-spacing: 0.05em;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	margin: 0 auto 0.25em;
}
	
.bottom p {
	color: #777;
	letter-spacing: 0.1em;
	font-size: 16px;
	line-height: 1.4;
	margin: 0 auto 2em;
}
